In [18]:
import pandas as pd
from pathlib import Path
import seaborn as sns
import numpy as np
%matplotlib inline

# GoogleFinance files for My Portfolio
aapl_data = Path("Apple stock.csv")
msft_data = Path("Microsoft stock.csv")
csco_data = Path("Cisco stock.csv")
goog_data = Path("Google stock.csv")
intl_data = Path("Intel stock.csv")
nvda_data = Path("Nvidia stock.csv")
orcl_data = Path("Oracle stock.csv")
tex_data = Path("Tex Ins stock.csv")
ESG_data = Path("ESG Scores.csv")
tex_data

WindowsPath('Tex Ins stock.csv')

In [19]:
# Read the individual CSV datasets 
apple = pd.read_csv(aapl_data, index_col="Date",infer_datetime_format=True, parse_dates=True)
msft = pd.read_csv(msft_data, index_col="Date",infer_datetime_format=True, parse_dates=True)
cisco = pd.read_csv(csco_data, index_col="Date",infer_datetime_format=True, parse_dates=True)
google = pd.read_csv(goog_data, index_col="Date",infer_datetime_format=True, parse_dates=True)
intel = pd.read_csv(intl_data, index_col="Date",infer_datetime_format=True, parse_dates=True)
nvidia = pd.read_csv(nvda_data, index_col="Date",infer_datetime_format=True, parse_dates=True)
oracle = pd.read_csv(orcl_data, index_col="Date",infer_datetime_format=True, parse_dates=True)
tex_ins = pd.read_csv(tex_data, index_col="Date",infer_datetime_format=True, parse_dates=True)
ESG = pd.read_csv(ESG_data, index_col="Fiscal Year End Date",infer_datetime_format=True, parse_dates=True)

ESG
cisco
oracle
tex_ins

                    TICKER   Close
Date
2010-01-04 16:00:00    TXN   26.01
2010-01-05 16:00:00    TXN   25.86
2010-01-06 16:00:00    TXN   25.67
2010-01-07 16:00:00    TXN   25.75
2010-01-08 16:00:00    TXN   26.34
...                    ...     ...
2022-12-23 16:00:00    TXN  164.38
2022-12-27 16:00:00    TXN  163.78
2022-12-28 16:00:00    TXN  161.19
2022-12-29 16:00:00    TXN  165.02
2022-12-30 16:00:00    TXN  165.22

[3272 rows x 2 columns]