In [1]:
import pandas as pd
from pathlib import Path
import seaborn as sns
import numpy as np
%matplotlib inline

In [2]:
# GoogleFinance files for My Portfolio
aapl_data = Path("Sources/Apple stock.csv")
msft_data = Path("Sources/Microsoft stock.csv")
csco_data = Path("Sources/Cisco stock.csv")
goog_data = Path("Sources/Google stock.csv")
intl_data = Path("Sources/Intel stock.csv")
nvda_data = Path("Sources/Nvidia stock.csv")
orcl_data = Path("Sources/Oracle stock.csv")
tex_data = Path("Sources/Tex Ins stock.csv")
ESG_data = Path("Sources/ESG Scores.csv")
tex_data

WindowsPath('Sources/Tex Ins stock.csv')

In [3]:
# Read the individual CSV datasets 
apple = pd.read_csv(aapl_data, index_col="Date",infer_datetime_format=True, parse_dates=True)
msft = pd.read_csv(msft_data, index_col="Date",infer_datetime_format=True, parse_dates=True)
cisco = pd.read_csv(csco_data, index_col="Date",infer_datetime_format=True, parse_dates=True)
google = pd.read_csv(goog_data, index_col="Date",infer_datetime_format=True, parse_dates=True)
intel = pd.read_csv(intl_data, index_col="Date",infer_datetime_format=True, parse_dates=True)
nvidia = pd.read_csv(nvda_data, index_col="Date",infer_datetime_format=True, parse_dates=True)
oracle = pd.read_csv(orcl_data, index_col="Date",infer_datetime_format=True, parse_dates=True)
tex_ins = pd.read_csv(tex_data, index_col="Date",infer_datetime_format=True, parse_dates=True)
ESG = pd.read_csv(ESG_data, index_col="Fiscal Year End Date",infer_datetime_format=True, parse_dates=True)

                    TICKER   Close
Date
2010-01-04 16:00:00    TXN   26.01
2010-01-05 16:00:00    TXN   25.86
2010-01-06 16:00:00    TXN   25.67
2010-01-07 16:00:00    TXN   25.75
2010-01-08 16:00:00    TXN   26.34
...                    ...     ...
2022-12-23 16:00:00    TXN  164.38
2022-12-27 16:00:00    TXN  163.78
2022-12-28 16:00:00    TXN  161.19
2022-12-29 16:00:00    TXN  165.02
2022-12-30 16:00:00    TXN  165.22

[3272 rows x 2 columns]

In [8]:
#Create My portfolio pivot table
stock_performance = pd.concat([apple["Close"], msft["Close"], cisco["Close"], google["Close"], intel["Close"], nvidia["Close"], oracle["Close"], tex_ins["Close"]], axis="columns", join="inner")


# Sort datetime index in ascending order (past to present)
stock_performance.sort_index(inplace=True)

# Set column names 
stock_performance.columns = ["APPLE", "MSFT", "CISCO", "GOOGLE", "INTEL", "NVIDIA", "ORACLE", "TEX INS"]

# Display a few lines
stock_performance

,APPLE,MSFT,CISCO,GOOGLE,INTEL,NVIDIA,ORACLE,TEX INS
Date,,,,,,,,
2014-03-27 16:00:00,19.20,39.36,22.02,27.85,25.31,4.45,39.24,46.08
2014-03-28 16:00:00,19.17,40.30,22.33,27.92,25.62,4.47,39.57,46.64
2014-03-31 16:00:00,19.17,40.99,22.42,27.77,25.81,4.48,40.91,47.16
2014-04-01 16:00:00,19.34,41.42,23.10,28.28,25.99,4.66,41.49,47.53
2014-04-02 16:00:00,19.38,41.35,22.99,28.27,25.89,4.63,41.13,47.62
...,...,...,...,...,...,...,...,...
2022-12-23 16:00:00,131.86,238.73,47.48,89.81,26.09,152.06,80.85,164.38
2022-12-27 16:00:00,130.03,236.96,47.53,87.93,25.94,141.21,80.98,163.78
2022-12-28 16:00:00,126.04,234.53,47.07,86.46,25.54,140.36,80.33,161.19
2022-12-29 16:00:00,129.61,241.01,47.50,88.95,26.21,146.03,81.40,165.02
2022-12-30 16:00:00,129.93,239.82,47.64,88.73,26.43,146.14,81.74,165.22

In [9]:
# Removes duplicates and drops NAs from stock_performance file
stock_performance = stock_performance.dropna()
stock_performance = stock_performance.drop_duplicates()

In [11]:
# Calculates daily returns
stock_performance = stock_performance.pct_change().dropna()
stock_performance

,APPLE,MSFT,CISCO,GOOGLE,INTEL,NVIDIA,ORACLE,TEX INS
Date,,,,,,,,
2014-03-31 16:00:00,-1.000000,-0.283079,-0.713708,-3.137485,-0.394513,-0.502237,3.026742,-0.082578
2014-04-01 16:00:00,inf,-0.387302,6.525225,-4.418365,-0.059606,16.959821,-0.581342,-0.296307
2014-04-02 16:00:00,-0.766774,-1.161101,-1.157003,-1.019254,-1.551708,-1.160229,-1.612013,-0.758650
2014-04-03 16:00:00,-4.492776,3.865365,-1.913441,-15.004952,-6.220085,-2.677466,1.129589,-0.223692
2014-04-04 16:00:00,0.798708,2.380739,-4.783543,-10.453185,-1.471303,-3.770085,-0.477181,-20.257406
...,...,...,...,...,...,...,...,...
2022-12-23 16:00:00,-0.882295,-1.088806,-1.473969,-1.796456,-1.144156,-0.876871,-1.360908,-0.918653
2022-12-27 16:00:00,3.959824,-4.270364,-0.688553,-2.191970,-2.244251,7.229248,-0.640497,0.878650
2022-12-28 16:00:00,1.211013,0.383136,-10.190322,-0.201367,1.682087,-0.915640,-5.991973,3.332481
2022-12-29 16:00:00,-1.923061,-3.694296,-1.943918,-2.722677,-2.701233,-7.710984,-2.659474,-2.502525
2022-12-30 16:00:00,-0.912833,-1.178704,-0.677366,-1.085880,-0.680036,-0.981353,-0.686420,-0.948993